@model IEnumerable<PROG6212P.O.E.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNameNavigation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
