@model PROG6212P.O.E.Models.Buy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepayMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepayMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
